@{
    ViewData["Title"] = "Главная";
}

<head>

    <meta charset="utf-8">
    <title></title>
    <style>
        a {
            text-decoration: none; /* Отменяем подчеркивание у ссылки */
            color: #332a7c;
        }

        body {
            background: #f6f6fc;
        }

        .void a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .void2 a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .void3 a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .void4 a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .void5 a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .block a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .block2 a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="intro">
        <div>
            <form class="search-wrapper" style="margin-top: 50px;">
                <input class="search" type="text" required>
                <button class="search-submit1" onclick="document.getElementById('txt').value='';">X</button>
                <button class="search-submit" type="submit">
                    <img src="images/ico-search.png" alt="">
                </button>
            </form>
        </div>
    </div>
    <div class="container">
        <div class="block">
            <a asp-area="" asp-controller="home" asp-action="IssueCreate">IT Service Desk</a><p>Технические проблемы. Права доступа и лицензии на программное обеспечение.</p>
        </div>
        <div class="block2">
            <a asp-area="" asp-controller="home" asp-action="IssueCreate">Fin Support</a><p>Вопросы по выплате зарплаты и отпускных. Справки с места работы. Оформление отпуска.</p>
        </div>
        <div>
            <nav>
                <a href="/" class="logo">Чаще всего ищут</a>
                <ul style="margin-top: 10px">
                    <li class="void">
                        <a asp-area="" asp-controller="home" asp-action="IssueCreate" style="margin-left:35px;">Заявка на оборудование на IT Service Desk</a>
                        <p style="margin-left:80px;">Тут можно попросить монитор, мышку, клавиатуру, переходники.</p>
                    </li>
                    <li class="void2">
                        <a asp-area="" asp-controller="home" asp-action="IssueCreate" style="margin-left:35px;">Хочу в отпуск на Fin Support</a>
                        <p style="margin-left:80px;">Заполнить нужные поля и подписать заявление у руководителя.</p>
                    </li>
                    <li class="void3">
                        <a asp-area="" asp-controller="home" asp-action="IssueCreate" style="margin-left:35px;">Справки по месту работы</a>
                        <p style="margin-left:80px;">Получение справок о доходах с места работы.</p>
                    </li>
                    <li class="void4">
                        <a asp-area="" asp-controller="home" asp-action="IssueCreate" style="margin-left:35px;">Предоставление доступа к системам на IT Service Desk</a>
                        <p style="margin-left:80px;">Выдача доступов и создание учетных записей в  Jira, Confluence, RealtimeBoard.</p>
                    </li>
                    <li class="void5">
                        <a asp-area="" asp-controller="home" asp-action="IssueCreate" style="margin-left:35px;">Проблемы с програмным обеспечением на IT Service Desk</a>
                        <p style="margin-left:80px;">Программное обеспечение (ПО) установленное на компьютере не работает.</p>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
