@{
    ViewData["Title"] = "Главная";
}

<head>

    <meta charset="utf-8">
    <title></title>
    <style>
        a {
            text-decoration: none; /* Отменяем подчеркивание у ссылки */
            color: #332a7c;
        }

        body {
            background: #f6f6fc;
        }

        .void a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .void2 a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .void3 a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .void4 a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .void5 a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .block a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }

        .block2 a:hover {
            color: #007aff; /* Цвет ссылки при наведении */
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header">
        <div class="logo"></div>
    </header>
    <div class="intro">
        <div class="container">
            <div class="block"><a href="index4.html">IT Service Desk</a><p>Технические проблемы. Права доступа и лицензии на ПО.</p></div>
            <div class="block2"><a href="index1.html">Fin Support</a><p>Вопросы по выплате зарплаты и отпускных. Справки с места работы. Оформление отпуска.</p></div>
            <header>
                <div class="block3">
                    <a href="/" class="logo">Чаще всего ищут</a>
                    <nav>
                        <ul>
                            <li class="void"><a href="">Заявка на оборудование на IT Service Desk</a><p>Тут можно попросить монитор, мышку, клавиатуру, переходники.</p></li>
                            <li class="void2"><a href="">Хочу в отпуск на Fin Support</a><p>Заполнить нужные поля и подписать заявление у руководителя.</p></li>
                            <li class="void3"><a href="">Справки по месту работы</a><p>Получение справок о доходах с места работы.</p></li>
                            <li class="void4"><a href="">Предоставление доступа к системам на IT Service Desk</a><p>Выдача доступов и создание учетных записей в  Jira, Confluence, RealtimeBoard.</p></li>
                            <li class="void5"><a href="">Проблемы с програмным обеспечением на IT Service Desk</a><p>Программное обеспечение (ПО) установленное на компьютере не работает.</p></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <form class="search-wrapper">
                <input class="search" type="text" required>
                <button class="search-submit1" onclick="document.getElementById('txt').value='';">X</button>
                <button class="search-submit" type="submit">
                    <img src="images/ico-search.png" alt="">
                </button>
            </form>
        </div>
    </div>
</body>
