/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    height: auto;
}

h1 {
    padding: -20px;
    font-size: 12px;
    font-weight: normal;
}

h2 {
    color: black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.intro {
    width: 100%;
    height: 100%;
    background: url("../images/cat.png") center top no-repeat #1a79f3;
    -webkit-background-size: auto;
    background-size: auto;
    padding-bottom: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.search-wrapper {
    position: relative;
    display: inline-block;
    right: -200px;
    bottom: -43px;
    vertical-align: top;
    max-width: 800px;
    width: 100%;
    height: 60px;
    margin-top: 50px;
}

.search {
    display: block;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-height: 32px;
    text-indent: 60px;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    border-color: #e1e1e1;
    border-width: 1px;
    border-style: solid;
    outline: 0;
}

.search-submit {
    position: absolute;
    top: 50%;
    right: 750px;
    width: 32px;
    height: 32px;
    text-align: center;
    margin-top: -16px;
    line-height: 32px;
    border: none;
    background: none;
}

    .search-submit > img {
        vertical-align: middle;
    }


.block {
    margin: 5px;
    display: inline-block;
    width: 45%;
    background-color: #F0F0F0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 5;
    letter-spacing: normal;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.block2 {
    margin: 5px;
    display: inline-block;
    width: 45%;
    margin-left: 8%;
    background-color: #F0F0F0;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 5;
    letter-spacing: normal;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.block3 {
    position: absolute;
    left: 50%;
    top: 270px;
    margin-left: -400px;
    background: #ffffff;
    border-radius: 10px;
    display: inline-block;
    width: 800px;
    height: 472px;
}

p {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #131313;
    margin-top: -25px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #000000;
    padding-left: 35px;
    top: 7%;
}

nav ul {
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.5;
    letter-spacing: normal;
    color: #332a7c;
    padding-left: 30px;
    list-style: none;
    background-color: #F0F0F0;
}

li.void:before {
    content: '';
    display: inline-block;
    background: url("../images/ico-mouse.png") center no-repeat;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #d5e7ff;
    left: 4%;
    margin-top: 25px;
}

li.void2:before {
    content: '';
    display: inline-block;
    background: url("../images/path.png") center no-repeat;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #d5e7ff;
    left: 4%;
    margin-top: 25px;
}

li.void3:before {
    content: '';
    display: inline-block;
    background: url("../images/ico-doc.png") center no-repeat;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #d5e7ff;
    left: 4%;
    margin-top: 25px;
}

li.void4:before {
    content: '';
    display: inline-block;
    background: url("../images/ico-key.png") center no-repeat;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #d5e7ff;
    left: 4%;
    margin-top: 25px;
}

li.void5:before {
    content: '';
    display: inline-block;
    background: url("../images/ico-po.png") center no-repeat;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 50%;
    background-color: #d5e7ff;
    left: 4%;
    margin-top: 25px;
}

.search-submit1 {
    height: 25px;
    width: 20px;
    position: absolute;
    margin-left: 95%;
    margin-top: -40px;
    font-size: 17px;
    outline: none;
    border: 0;
    background-color: #ffffff;
    color: #b8b8cc;
}
